In [7]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import yaml
import os
import time
import datetime

pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 200)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)

with open("config.yaml",'r') as l :
    config = yaml.safe_load(l)
print(config)

{'main_data': 'Data\\water_potability.csv', 'sales_data': 'Data\\Sales.csv'}

In [6]:
df_ = pd.read_csv(config['main_data'])
print(df.shape)
display(df.head(5))
display(df.tail(5))

(3276, 10)

     ph  Hardness    Solids  Chloramines  Sulfate  Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
0   NaN   204.890 20791.319        7.300  368.516       564.309          10.380           86.991      2.963           0
1 3.716   129.423 18630.058        6.635      NaN       592.885          15.180           56.329      4.501           0
2 8.099   224.236 19909.542        9.276      NaN       418.606          16.869           66.420      3.056           0
3 8.317   214.373 22018.417        8.059  356.886       363.267          18.437          100.342      4.629           0
4 9.092   181.102 17978.986        6.547  310.136       398.411          11.558           31.998      4.075           0

        ph  Hardness    Solids  Chloramines  Sulfate  Conductivity  Organic_carbon  Trihalomethanes  Turbidity  Potability
3271 4.668   193.682 47580.992        7.167  359.949       526.424          13.894           66.688      4.436           1
3272 7.809   193.553 17329.802        8.061      NaN       392.450          19.903              NaN      2.798           1
3273 9.420   175.763 33155.578        7.350      NaN       432.045          11.039           69.845      3.299           1
3274 5.127   230.604 11983.869        6.303      NaN       402.883          11.169           77.488      4.709           1
3275 7.875   195.102 17404.177        7.509      NaN       327.460          16.140           78.698      2.309           1